<%  layout("/layouts/boilerplate.ejs") %>

    
   
<div class="row new-listing" >
  <div class="col-8 offset-2"> 
    <br>
  <h2>Create new Listing</h2>
  <br>
    <form action="/listings" method="post" novalidate  class=" needs-validation">
     <div  class="mb-3">
      <label for="title"  class="form-label">Title</label> 
      <input type="text"
       name="title"
        placeholder="Enter title*" 
        class="form-control"
         required> 
         <div class="invalid-feedback">
        Title should be valid
        </div>
     </div>
       
     <div class="mb-3">
      <label for="description" class="form-label">Description</label> 
      <textarea name="description" id="" placeholder="Enter description*" type="text" rows="4" cols="36" class="form-control" required></textarea> 
      <div class="invalid-feedback">
        Please enter short description
      </div>
     </div>
     
     <div class="mb-3">
      <label for="image" class="form-label">Image</label> 
      <input type="url" 
      name="image" 
      placeholder="Enter image url/link" 
       class="form-control" > 
     </div>
       
     <div class="row">

      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label> 
        <input type="text" 
        name="price" 
        placeholder="1200*" min="0" 
        class="form-control" 
        required > 
        <div class="invalid-feedback">
          Price should be valid
        </div>
      </div>

     <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label> 
      <input type="text"
       name="country"
        placeholder="Nepal*" 
        class="form-control"
         required >
         <div class="invalid-feedback">
      Country name should be valid
        </div>
     </div>

     </div>
     

     <div class="mb-3">
      <label for="location" class="form-label">Location</label> 
      <input type="text" name="location" placeholder=" New road, Kathmandu*" class="form-control"required > 
      <div class="invalid-feedback">
        Location should be valid
      </div>
    </div>
      <button class="btn  btn-dark add-btn ">Add </button>
      <br><br>
    </form>
  </div>
</div>